<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">

{{/* Enhanced Favicon Support for Google Search */}}
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/media/icon_hu_35040bb3d633c8de.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/icon_hu_6ed5448e8afea148.png">
<link rel="apple-touch-icon" sizes="180x180" href="/media/icon_hu_95123946aa84b4a7.png">
<link rel="icon" type="image/png" sizes="192x192" href="/media/icon_hu_1b4bcfdf7d67b990.png">
<link rel="icon" type="image/png" sizes="512x512" href="/media/icon_hu_f8cae1f2dac4936d.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">